---

---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <!-- Navigation -->
        <!-- aタグ使用していページ間の移動を実装。SPAではないのである -->
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>

        <!-- main -->
        <h1>About</h1>
        <p>追加されたページです</p>
        <h2>説明</h2>
        <p>今のところHTMLを手書きで追加しているところです</p>
        <p>リッチなeditorは無いようです</p>
    </body>
</html>
