---
// サーバ側に表示されます
// VSCodeのターミナルに表示されませんか？
console.log("Hello2!");
---

<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Test 2</h1>
        <p>test2のページです</p>
    </body>
    <script>
        // ブラウザ側に表示されます
        console.log("Hello1!");
    </script>
</html>
